html{
    height: 100vh;
    background-color: #f0f0f0;
}

#filter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    
}
#filter div{
    margin: 10px;
}

#calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f0f0f0;
}

#calendar {
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#month-year {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

#days-of-week {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
}

#days {
    display: flex;
    flex-wrap: wrap;
}

#days div {
    width: calc(100% / 7);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
#days div:hover {
    background-color: #f0f0f0;
}
#days .clickable{
    background-color: #8bdc8a;
}
#days .clickable:hover {
    background-color: #b2f6b1;
}

#month-year-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#prev-month, #next-month {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 18px;
}

#prev-month:hover, #next-month:hover {
    background-color: #ddd;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
    text-align: center;
}
.modal-content span{
    text-align: right;
}
.modal-content div{
    text-align: left;
}

#selection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 5px; /* Adjust the gap between the select elements as needed */
    padding: 5px;
}

#selection select {
    border: 1px solid #ccc; /* Optional: Add a border */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.none{
    display: none;
  }